@import 'helper/variables';

@import "~bootstrap/scss/bootstrap.scss";
@import '~@fortawesome/fontawesome-free';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fontsource/roboto';

@import 'layout/header';
@import 'layout/footer';
@import 'components/sidebar';

*, ::after, ::before {
  box-sizing: border-box;
}
body {
  background: $bg-light-grey;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  min-height: 100vh;
  color: $clr-dark-grey;
}
a {
  color: initial;
  text-decoration: none;
}
a:hover {
  color: initial;
  text-decoration: none;
}
/* main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
} */
.clr-white {
  color: $clr-white;
}
.form-block {
  max-width: 500px;
  margin-left: 0;
}
.block-content {
  background: white;
  padding: 1rem 2rem;
  border-radius: $border-radius;
  margin: 1rem;
  box-shadow: 0 0 7px -4px;
}
.btn-primary {
  border: #5fb65c;
  background: #5fb65c;
}
.btn-primary:hover {
  border: #5fb65c;
  background: #4c9d49;
}
h1, .h1 {
  font-size: 1.5rem;
  margin: 0;
}
.card-text {
  margin: 0;
}